* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    box-shadow: 0px 1px gray;
}

.logo {
    display: flex;
    height: 5rem;
    justify-content: end;
    padding-right: 0;
    margin-left: 6.375rem;
}

.botao {
    
}

.pt {
    font-size: medium;
}

.horizontal {
    margin-right: 26.867rem;
}

.theader {
    display: flex;
    flex-direction: horizontal;
    font-size: 13px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 6.375rem;
    align-items: center;
}

.header {
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 18px;
}