* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    font-size: xx-large;
    font-style: italic;
    text-decoration: overline;
    letter-spacing: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}
th {
    text-align: center;
}

th, td {
    border: lightgray solid 1px;
    padding-left: 8px;
    padding-right: 8px;
}
.txtalign td {
    text-align: start;
}