* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    box-shadow: 0px 1px gray;
}

.logo {
    display: flex;
    height: 5rem;
    justify-content: end;
    padding-right: 0;
    margin-left: 6.375rem;
}

.botao {
    background-color: black;
    border: 10px black solid;
    border-radius: 10px;
}

.botao a {
    color: white;
    text-decoration: none;
}

.pt {
    font-size: medium;
}

.horizontal {
    margin-right: 26.45rem;
}

.theader {
    display: flex;
    flex-direction: horizontal;
    font-size: 13px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 6.375rem;
    align-items: center;
}

.header {
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 18px;
}

.corpo {
    display: flex;
    flex-direction: column;
    margin-left: 6.375rem;
    gap: 0.5rem;
}

.corpo h1 {
    font-size: 60px;
    letter-spacing: none;
}

.corpo .title1 {
    background-color: black;
    color: white;
    width: 10%;
    border: 10px solid black;
    border-radius: 2rem;
    margin-bottom: 0;
    margin-top: 1.6rem;
}

.corpo .corpo2 {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}